################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rotation.API/.vs
/Rotation.API/**/obj
/Rotation.API/**/bin
